presentazione
Final - Projects for RL course.PDF
codice_bello_claude.py
#q*
#*.png
QSGRM_env
CODE/__pycache__
# EXPORT/q_models_*
eval_results_task_II.npz

LOGs/log_error_II.txt
CODE/__pycache__/environment.cpython-313.pyc
EXPORT/q_models_task_III_ep2000.npz
EXPORT/q_models_task_III_ep500.npz
EXPORT/eval_results_task_III.npz
CODE/__pycache__/environment.cpython-313.pyc
EXPORT/q_models_task_III_ep1000.npz
EXPORT/q_models_task_III_ep1500.npz
EXPORT/q_models_task_III_ep2500.npz
EXPORT/q_models_task_III_ep3000.npz
EXPORT/q_models_task_III_ep4000.npz
EXPORT/q_models_task_III_ep4500.npz
EXPORT/q_models_task_III_ep5500.npz
EXPORT/q_models_task_III_ep6500.npz
EXPORT/q_models_task_III_ep7000.npz
EXPORT/q_models_task_III_ep8000.npz
EXPORT/q_models_task_III_ep7500.npz
EXPORT/q_models_task_III_ep8500.npz
EXPORT/q_models_task_III_ep9000.npz
EXPORT/q_models_task_III.npz
EXPORT/q_models_task_III_ep6000.npz
EXPORT/q_models_task_III_ep3500.npz
EXPORT/q_models_task_III_ep5000.npz
GAME_VISUALIZATION/.DS_Store
.DS_Store
CODE/__pycache__/environment.cpython-313.pyc
EXPORT/eval_results_task_III.npz
EXPORT/q_models_task_III_ep500.npz
EXPORT/q_models_task_III.npz
EXPORT/q_models_Nash_task_I_ep9500.npz
EXPORT/q_models_Nash_task_I_ep10000.npz
EXPORT/q_models_Nash_task_I_ep10500.npz
EXPORT/q_models_Nash_task_I_ep11500.npz
EXPORT/q_models_Nash_task_I_ep11000.npz
EXPORT/q_models_Nash_task_I_ep12000.npz
EXPORT/q_models_Nash_task_I_ep12500.npz
EXPORT/q_models_Nash_task_I_ep13000.npz
EXPORT/q_models_Nash_task_I_ep13500.npz
EXPORT/q_models_Nash_task_I_ep14500.npz
EXPORT/q_models_Nash_task_I_ep14000.npz
EXPORT/q_models_Nash_task_I_ep15000.npz
EXPORT/q_models_Nash_task_I_ep16000.npz
EXPORT/q_models_Nash_task_I_ep15500.npz
EXPORT/q_models_maze_ep500.npz
EXPORT/q_models_maze_ep1000.npz
EXPORT/q_models_maze_ep1500.npz
EXPORT/q_models_maze_ep5000.npz
EXPORT/q_models_maze_ep10000.npz
EXPORT/q_models_maze_ep15000.npz
EXPORT/q_models_maze_ep20000.npz
EXPORT/q_models_maze.npz
CODE_maze/__pycache__/environment.cpython-313.pyc
CODE_maze/__pycache__/game_parameters.cpython-313.pyc
CODE_maze/__pycache__/reward_machine_maze.cpython-313.pyc
EXPORT/eval_results_maze.npz
EXPORT/maze_windowed.png
EXPORT
